# Config file for automatic testing at travis-ci.org

language: python
sudo: false

python:
  - "2.7"
  - "3.3"
  - "3.4"
  - "pypy"
  - "pypy3"

install:
  - pip install --upgrade pip
  - pip install nose textile docutils pygments coveralls
  - pip install .

script:
  - coverage run ./setup.py nosetests

after_success:
  - coveralls

notifications:
  irc: "irc.freenode.org#pylucid"
